
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: 'Unbounded';
    src: url('./assets/static/Unbounded-Bold.ttf');
    font-style: normal;
  }

  /* Bounce animation on the text */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }



  